<template>
  <button
    @click="handleClick"
    :type="type"
    class="px-4 py-2 rounded-full text-center bg-primary text-white hover:bg-secondary hover:text-primary">
    {{ text }}
  </button>
</template>
<script setup>
const props = defineProps({
  text: {
    type: String,
    default: 'Button',
  },
  type: {
    type: String,
    default: 'button',
  },
})

const emit = defineEmits(['change', 'delete'])

const handleClick = () => {
  emit('click')
}
</script>