@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5dlbac');
  src:  url('../fonts/icomoon.eot?5dlbac#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5dlbac') format('truetype'),
    url('../fonts/icomoon.woff?5dlbac') format('woff'),
    url('../fonts/icomoon.svg?5dlbac#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e916";
}
.icon-chevron-up:before {
  content: "\e917";
}
.icon-home-outline:before {
  content: "\e911";
}
.icon-chevron-left:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e903";
}
.icon-video:before {
  content: "\e904";
}
.icon-x-circle:before {
  content: "\e912";
}
.icon-x-octagon:before {
  content: "\e90e";
}
.icon-remove-user:before {
  content: "\e90f";
}
.icon-warning:before {
  content: "\e910";
}
.icon-dots-three-horizontal:before {
  content: "\e900";
}
.icon-dots-three-vertical:before {
  content: "\e908";
}
.icon-circle-with-plus:before {
  content: "\e90b";
}
.icon-emoji-happy:before {
  content: "\e909";
}
.icon-info-with-circle:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e906";
}
.icon-new-message:before {
  content: "\e905";
}
.icon-reply:before {
  content: "\e90a";
}
.icon-thumbs-up:before {
  content: "\e90c";
}
.icon-download:before {
  content: "\e915";
}
.icon-send-message:before {
  content: "\e914";
}
.icon-home3:before {
  content: "\e902";
}
.icon-images:before {
  content: "\e913";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-bell:before {
  content: "\e951";
}
.icon-cog:before {
  content: "\e994";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-contrast:before {
  content: "\e9d5";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-openoffice:before {
  content: "\eae0";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}
.icon-libreoffice:before {
  content: "\eae3";
}
