<template>
<!-- Background image -->
  <div class="container max-w-lg px-4 py-32 mx-auto mt-px md:max-w-none text-center">
    <h1 class="text-5xl font-extrabold leading-10 tracking-tight text-gray-900 text-center sm:leading-none md:text-6xl lg:text-7xl">
      <span class="block font-roboto">Start My Sample</span>
      <span class="relative mt-3 block md:mt-2 text-transparent font-roboto bg-clip-text bg-gradient-to-br from-indigo-600 to-indigo-500 md:inline-block">Basic UI</span>
    </h1>
    <div class="mx-auto mt-5 md:mt-12 md:max-w-lg md:text-center lg:text-lg">
      <span class="italic text-primary">Everything is begun with the most basic!</span>
    </div>
    <div class="flex flex-col items-center mt-12 text-center">
      <Button
        :text="'Explore Now'"
        @click="handleClick"
      />
      <a href="#" class="mt-3 text-sm text-indigo-500">View more</a>
    </div>
  </div>
<!-- Background image -->
</template>
<script setup>
import Button from '@/components/Button/Button.vue'
const router = useRouter()

const handleClick = () => {
  router.push({path: '/login'})
}
</script>