<template>
  <div class="mb-2 mt-8">
    <Button
      :type="'submit'"
      :text="'Create New User'"
      :class="'bg-green-500 px-2 py-2 text-white rounded text-sm text-center'"
      @click="(e) => handleShowPopup()"
    >
    </Button>
  </div>
  <div class="overflow-auto">
    <table class="min-w-full">
      <thead class="bg-white border-b">
        <tr>
          <th
            v-for="(item, index) in columns" :key="index"
            scope="col"
            class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
            {{item.label}}
          </th>
          <th
            scope="col"
            class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(user, index) in users" :key="index"
          class="bg-gray-100 border-b">
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{index + 1}}</td>
          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {{user.username || user.email}}
          </td>
          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {{user.email}}
          </td>
          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {{user.password}}
          </td>
          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            <span
              @click="handleShowPopup(user)"
              class="icon-new-message mr-3 text-xl cursor-pointer hover:text-primary">
            </span>
            <span
              @click="handleShowPopupConfirm(user)"
              class="icon-bin cursor-pointer text-xl hover:text-primary"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <Popup
    :title="isInsert ? 'Insert New User' : 'Update User'"
    :show="showPopup"
    @close="handleClosePopup"
  >
    <template #body>
      <div class="popup-body w-full">
        <form @submit.prevent="handleUpsertUser">
          <div class="form-group mb-6">
            <label for="exampleInputEmail2" class="form-label inline-block mb-2 text-gray-700">Username</label>
            <input type="text" class="form-control
              block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              v-model="form.username"
              placeholder="Enter your name">
          </div>
          <div class="form-group mb-6">
            <label for="exampleInputEmail2" class="form-label inline-block mb-2 text-gray-700">Email address</label>
            <input type="email" class="form-control
              block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              v-model="form.email"
              aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group mb-6">
            <label for="exampleInputPassword2" class="form-label inline-block mb-2 text-gray-700">Password</label>
            <input type="password" class="form-control block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              v-model="form.password"
              placeholder="Password">
          </div>
          <div class="flex justify-end w-full">
            <Button
              :type="'button'"
              :text="'Clear'"
              :class="'border-black text-black mr-3 w-[90px] text-center !bg-white border'"
              @click="handleClearForm"
            />
            <Button
              :type="'submit'"
              :text="isInsert ? 'Register' : 'Update'"
              :class="'bg-blue-600 text-white roundedtext-center'"
            />
          </div>
        </form>
      </div>
      <div
        v-if="loading"
        class="absolute top-0 right-0 left-0 bottom-0 bg-[#00000091] flex justify-center items-center">
        <img class="w-20" src="~/assets/images/loading.svg" />
      </div>
    </template>
  </Popup>
  <Popup
    :title="'Delete User'"
    :show="showPopupConfirm"
    @close="handleClosePopupConfirm"
  >
    <template #body>
      <div class="text-center">
        <span class="icon-warning text-yellow-300 text-[70px] mb-3 block"></span>
        Are you sure to delete this {{user.username || user.email}}?
      </div>
    </template>
    <template #footer>
      <div class="flex justify-end mt-4">
        <Button
          :type="'button'"
          :text="'Close'"
          :class="'border-black text-black mr-3 w-[90px] text-center !bg-white border'"
          @click="handleClosePopupConfirm"
        />
        <Button
          :type="'submit'"
          :text="'Yes'"
          :class="'bg-blue-600 text-white  w-[90px] roundedtext-center'"
          @click="handleDeleteUser"
        />
      </div>
    </template>
  </Popup>
</template>
<script>
import { reactive, toRefs } from 'vue'
import UserServices from '@/firebase/services/user'
import AuthServices from '@/firebase/services/auth'
export default defineComponent({
  setup() {
    const { $auth, $db } = useNuxtApp()
    const userServices = new UserServices($db)
    const authServices = new AuthServices($auth)
    const state = reactive({
      users: [],
      columns: [
        {
          name: 'uid',
          label: '#',
          align: 'center',
        },
        {
          name: 'username',
          label: 'Username',
          align: 'left',
        },
        {
          name: 'email',
          label: 'Email',
          align: 'left',
        },
        {
          name: 'password',
          label: 'Password',
          align: 'left',
        },
      ],
      loading: false,
      error: null,
      user: null,
      showPopup: false,
      isInsert: true,
      showPopupConfirm: false,
    })

    const form = reactive({
      username: '',
      email: '',
      password: '',
    })

    const handleFetchUsers = async () => {
      state.loading = true
      state.error = null
      try {
        state.users = await userServices.list()
        console.log('state.users ==> ', state.users)
      } catch (error) {
        state.error = error
      }
      state.loading = false
    }

    const handleShowPopup = (user = null) => {
      state.isInsert = !user
      state.user = user
      form.email = user?.email
      form.username = user?.username
      form.password = user?.password
      state.showPopup = true
    }

    const handleClosePopup = () => {
      handleClearForm()
      state.showPopup = false
    }

    const handleUpsertUser = async () => {
      state.loading = true
      try {
        if (state.isInsert) {
          const { user } = await authServices.register(form.email, form.password)
          if (user) {
            await userServices.create(user.uid, form)
          }
        } else {
          await userServices.update(state.user?.uid, form)
        }
        await handleFetchUsers()
        state.showPopup = false
      } catch (error) {
        console.error('handleUpsertUser failed ==> ', error)
      }
      state.loading = false
    }

    const handleClearForm = () => {
      form.username = ''
      form.email = ''
      form.password = ''
    }

    const handleClosePopupConfirm = () => {
      state.user = null
      state.showPopupConfirm = false
    }

    const handleShowPopupConfirm = user => {
      state.user = user
      state.showPopupConfirm = true
    }

    const handleDeleteUser = async () => {
      try {
        const result = await userServices.delete(state.user?.uid)
        if (result) {
          handleFetchUsers()
        }
      } catch (error) {
        console.error('handleDeleteUser failed ==> ', error)
      }
      handleClosePopupConfirm()
    }

    onMounted(() => {
      handleFetchUsers()
    })

    return {
      ...toRefs(state),
      form,
      handleShowPopup,
      handleClosePopup,
      handleUpsertUser,
      handleClearForm,
      handleClosePopupConfirm,
      handleShowPopupConfirm,
      handleDeleteUser
    }
  }
})

</script>