<template>
  <div class="container mt-7 mx-auto">
    <client-only>
      <Login />
    </client-only>
  </div>
</template>
<script setup>
import Login from '@/components/Auth/Login.vue'
definePageMeta({
  layout: 'public',
})
</script>