<template>
  <div class="container mt-7 mx-auto">
    <client-only>
      <Register />
    </client-only>
  </div>
</template>
<script setup>
import Register from '@/components/Auth/Register.vue'
definePageMeta({
  layout: 'public',
})
</script>