<template>
  <div class="container mx-auto">
    <ModeUsers/>
  </div>
</template>
<script setup>
import ModeUsers from '@/components/Section/ModUsers.vue'
definePageMeta({
  layout: 'public',
})
</script>