<template>
<div class="block p-6 mx-auto rounded-lg shadow-lg bg-white max-w-sm relative">
  <form @submit.prevent="handleLogin">
    <div class="form-group mb-6">
      <label for="exampleInputEmail2" class="form-label inline-block mb-2 text-gray-700">Email address</label>
      <input type="email" class="form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        v-model="form.email"
        aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group mb-6">
      <label for="exampleInputPassword2" class="form-label inline-block mb-2 text-gray-700">Password</label>
      <input type="password" class="form-control block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        v-model="form.password"
        placeholder="Password">
    </div>
    <div class="flex justify-between items-center mb-6">
      <div class="form-group form-check">
        <input type="checkbox"
          class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
          id="exampleCheck2">
        <label class="form-check-label inline-block text-gray-800" for="exampleCheck2">Remember me</label>
      </div>
      <a href="#!"
        class="text-blue-600 hover:text-blue-700 focus:text-blue-700 transition duration-200 ease-in-out">Forgot
        password?</a>
    </div>
    <Button
      :type="'submit'"
      :text="'Login'"
      :class="'bg-blue-600 text-white rounded-md w-full text-center'"
    />
    <p class="text-gray-800 mt-6 text-center">Not a member? <NuxtLink :to="'/register'"
      class="text-blue-600 hover:text-blue-700 focus:text-blue-700 transition duration-200 ease-in-out">Register</NuxtLink>
    </p>
  </form>
  <div
    v-if="loading"
    class="absolute top-0 right-0 left-0 bottom-0 bg-[#00000091] flex justify-center items-center">
    <img class="w-20" src="~/assets/images/loading.svg" />
  </div>
</div>
</template>
<script setup>
import { reactive, ref } from 'vue'
import Button from '@/components/Button/Button.vue'
import AuthServices from '@/firebase/services/auth'
const { $auth } = useNuxtApp()

const authServices = new AuthServices($auth)
const router = useRouter()
const form = reactive({
  email: '',
  password: '',
})

const loading = ref(false)

const handleLogin = async () => {
  loading.value = true
  try {
    const result = await authServices.loginWithEmail(form.email, form.password)
    if (result?.user) {
      const { uid, accessToken } = result.user
      localStorage.setItem('uid', uid)
      localStorage.setItem('accessToken', accessToken)
      router.push({ name: 'user' })
    }
  } catch (error) {
    console.error('handleLogin failed ==> ', error)
  }
  loading.value = false
}
</script>